.__static__ {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    canvas {
        display: block;
        width: 100%;
        height: 100%;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }
}