div.phosphor > section {
    font-family: monospace;
    font-size: 14pt;
}

.__teletype__ {
    background-color: rgba(200,200, 200, 0.5);
}

.__teletype__ span.cursor {
    background-color: #000;
}

.__teletype__ span.hidden {
    visibility: hidden;
}

.__prompt__ span.input {
    color: #fff;
    background: #000;
}

.__prompt__.disabled {
    opacity: 0.1;
}