// default: black bg, blue/white fg

// TODO: add theme mixins
$foreground: rgb(212, 249, 250);
$background: rgb(0, 13, 17);

$scanlines-foreground: rgba(15, 61, 73, 0.4);
$scanlines-background: rgba(0, 31, 36, 0.2);

$foreground-glow: 0 0 5px rgba(218, 254, 255, 0.5);
$background-glow: 0 0 2px rgba(0, 13, 17, 0.5);